.filter {
  width: 310px;
  margin-top: 25px;
  color: #404040;
}
.filter .title {
  font-size: 22px;
  font-weight: 700;
  border: 1px solid #979797;
  border-radius: 5px 5px 0px 0px;
  padding: 16px 0;
  text-align: center;
  background-color: #eeeeee;
}
.filter .container {
  border: 1px solid #979797;
  border-top: none;
  border-bottom: none;
}
.filter .list_title {
  padding: 0px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  font-weight: 700;
  border-bottom: 1px solid #979797;
}
.filter .list {
  padding: 15px 35px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #979797;
}
.filter .list > label {
  padding: 3px 0;
  display: flex;
  align-items: center;
}
.filter input {
  margin-right: 15px;
  width: 17px;
  height: 17px;
}
.filter .list-hide {
  height: 0;
  display: none;
}
.filter .collapse-icon {
  position: absolute;
  opacity: 0;
}
.filter .icon-wrapper {
  width: 25px;
  height: 13px;
}
.filter .collapse-icon-active{
    opacity: 1;
}
