.section_rh {
  width: 100%;
  height:780px;
  background-image: url(../../assets/images/101.jpg);
  background-position: top center;
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.section_rh::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.6);
}
.rental-home h3 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top:90px;
}
.info {
  font-size: 26px;
  margin-bottom: 60px;
  color: #fff;
  font-weight: 400;
}
.s1_search_wrapper {
  display: flex;
  justify-content: center;
}
