.rentalresult {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 26px auto 0;
}
.s2_search_wrapper {
  background-color: #FFDED3;
  border: 1px solid #CACACA;
  width: 310px;
  border-radius: 6px;
  z-index: 2;
}
.s2_title {
  border-bottom: 1px solid #CACACA;
  height: 70px;
  background-color: #FFAC92;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rentalresult > .container {
  width: 800px;
}
.countresult {
  font-size: 30px;
  font-weight: 700;
}