.rentalresult {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 26px auto 88px;
}
.s2_search_wrapper {
  background-color: #ffded3;
  border: 1px solid #cacaca;
  width: 310px;
  border-radius: 6px;
  z-index: 2;
}
.s2_title {
  border-bottom: 1px solid #cacaca;
  height: 70px;
  background-color: #ffac92;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rentalresult > .container {
  width: 800px;
}
.countresult {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.rentalresult .time-picker {
  border: 1px solid red;
  width: 510px;
  height: 80px;
}

.sort-wrapper {
  width: 510px;
  height: 40px;
  display: grid;
  grid-template: 100% / repeat(3, 1fr);
  margin-bottom: 15px;
  z-index: 2;
}
.sort-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-item label {
  width: 100%;
  height: 100%;
}

.rentalresult .sort-btn {
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rentalresult .sort-time {
  border-radius: 5px 0 0 5px;
}

.rentalresult .sort-cost {
  border-radius: 0px 0 0 0px;
  border-left: 0;
  border-right: 0;
}

.rentalresult .sort-number {
  border-radius: 0px 5px 5px 0px;
}

.sort-item img {
  margin-left: 8px;
}

.rentalresult .re-dropdown {
  position: absolute;
  background-color: #fff;
  top: 35px;
  left: 0;
  width: 171px;
  height: 80px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  z-index: 2;
  margin-top: 4px;
  border: 1px solid #979797;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.rentalresult .re-dropdown-btn {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #979797;
}

.rentalresult .re-dropdown-btn:hover {
  background-color: #b3ebee;
}

/* slider */
.rentalresult .re-dropdown-timeslider {
  width: 512px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: 100% / 90px 322px 1fr;
  margin-top: 5px;
}

.time-range-title {
  font-weight: 500;
  text-align: center;
  padding-top: 25px;
  color: #555555;
}

.rs-slider {
  margin-top: 20px;
  position: relative;
  width: 322px;
  height: 16px;
}

.rs-slider-bar {
  background-color: #fff;
  height: 100%;
  border: 2px solid #00bcc8;
  cursor: pointer;
  border-radius: 9px;
}
.rs-slider-progress-bar {
  position: absolute;
  height: 100%;
  /* border-radius: 3px 0 0 3px; */
  background-color: #00bcc8;
}
.rs-slider-handle {
  position: absolute;
  top: -1px;
  cursor: pointer;
}

.rs-slider-handle:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #00bcc8;
  background-color: #fff;
  margin-left: -10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out,
    -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out,
    -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.custom-range-slider {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.custom-range-slider .title-wrapper {
  width: 360px;
  display: flex;
  margin-bottom: 5px;
}

.custom-range-slider .title-item {
  color: #00bcc8;
  font-weight: 500;
  position: absolute;
  width: 300px;
  display: flex;
}

.custom-range-slider .title-item-hide {
  display: none;
}

.btn-more {
  background: #dcf3f4;
  border-radius: 40px;
  height: 80px;
  font-size: 24px;
  color: #008FA3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top:30px;
}

.btn-more-hide {
  display: none;
}

.scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
}

.map-link{
  background-image: url(../../assets/images/icon/map-link.jpg);
  width: 191px;
  height: 82px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}