.s2_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  align-items: center;
}
.s2_container {
  width: 250px;
  color: #1d1d1d;
  font-weight: bold;
  margin-bottom: 15px;
}

.s2_container img {
  position: absolute;
  width: 22px;
  left: 15px;
  top: 41px;
}

.s2-input-t,
.s2-input-btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: 2px solid #ffac92;
  border-radius: 10px;
  padding-left: 50px;
  text-align: left;
  margin-top: 5px;
  color: #9e9e9e;
}

.s2-input-have {
  color: #1d1d1d;
}

.s2-input-btn {
  cursor: pointer;
}

.s2-input-t:focus,
.s2-input-t:active,
.s2-input-t-have:focus {
  outline: none;
  padding-left: 50px;
}
