button {
  width: fit-content;
  transition: all 0.2s;
  border-radius: 3px;
  cursor: pointer;
}

/* button1 */
.button1 {
  padding: 9px 12px;
  font-weight: bold;
  color: #fff;
  background: #00bcc8;
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}
.button1:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.button1:active,
.button1:focus {
  box-shadow: none;
  background: #3a959a;
  transition: all 0.2s;
  outline: none;
}

/* button2 */
.button2 {
  z-index: 2;
  font-size: 26px;
  height: 85px;
  padding: 0px 170px;
  font-weight: bold;
  color: #fff;
  border: 5px solid #FFFFFF;
  border-radius: 4px;
  transition: all 0.2s;
  background-color: inherit;
  margin-top:43px;
}
.button2:hover {
  background-color: #00bcc8;
  border: 5px solid #00bcc8;
  transition: all 0.2s;
}
.button2:active,
.button2:focus {
  border: 5px solid #3a959a;
  background: #3a959a;
  transition: all 0.2s;
  outline: none;
}

.s2_form .button2 {
  font-size: 22px;
  font-weight: 400;
  width: 140px;
  padding: 0px;
  height: 41px;
  border: none;
  background-color: #00bcc8;
  margin-top:15px;
}
.s2_form .button2:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
}
.s2_form .button2:active,
.s2_form .button2:focus {
  filter: none;
  background: #3a959a;
  transition: all 0.2s;
  outline: none;
}
