.button1 {
  padding: 9px 12px;
  font-weight: bold;
  color: #fff;
  background: #00bcc8;
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}
.button1:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.button1:active,
.button1:focus {
  box-shadow: none;
  background: #3a959a;
  transition: all 0.2s;
  outline: none;
}
