.tab-list-item {
  border: none;
  background: #cacaca;
  color: #015e73;
  font-weight: bold;
  font-size: 26px;
}
.tab-list-active {
  background: #acdee1;
}
.home .tab-list-item {
  width: 200px;
  height: 56px;
  margin-right: 50px;
}
.case-list .tab-list-item {
  font-size: 16px;
  width: 100%;
  height: 56px;
  border-radius: 0;
  padding: 0 16px;
  text-align: center;
}
